<div class="data layout-column align-items-center mt-50">
  <section class="layout-row align-items-center justify-content-center">
    <button data-test-id="submit-button">Get Date</button>
  </section>

  <section class="mt-20 layout-row align-items-center justify-content-center">
    <div class="card outlined">
      <div class="card-text pt-10 layout-column align-items-center justify-content-center">
        <div class="mt-10 outlined" data-test-id="date">
          Date: date
        </div>
        <div class="mt-10 outlined" data-test-id="holiday">
          <b>holiday</b>
        </div>
        <div class="mt-10 outlined" data-test-id="day">
          Day: day
        </div>
      </div>
    </div>
  </section>
</div>
